 /* backgrounds section */

 .background__principal {
   background-image: url(../img/historia-comida.jpg);
   background-size: cover;
   background-attachment: fixed;
 }

 .background__francesa {
   background-image: url(../img/cocina-francesa.jpg);
   background-size: cover;
   background-attachment: fixed;
 }

 .background__italiana {
   background-image: url(../img/cocina-italiana.jpg);
   background-size: cover;
   background-attachment: fixed;
 }

 .background__mexicana {
   background-image: url(../img/cocina-mexicana.jpg);
   background-size: cover;
   background-attachment: fixed;
 }

 .background__española {
   background-image: url(../img/cocina-española.jpg);
   background-size: cover;
   background-attachment: fixed;
 }

 .background__venezolana {
   background-image: url(../img/cocina-venezolana.jpg);
   background-size: cover;
   background-attachment: fixed;
 }