body {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  z-index: 1;

 


}


hr {
  border: 2px dashed rgb(255, 123, 0);
  width: 70%;
  background: none;
  opacity: 0.5;
  border-top: 0;
  margin: auto;
}



p {
  padding: 20px 0 20px;
  text-align: left;
}

h2 {
  font-size: 2rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}