@media (max-width: 1028px) {
  .sideBar {
    display: none;
  }

  body {
    grid-template-columns: 50% 50%;
  }

  .contactForm2 {
    display: block;
    text-align: center;
    background-color: black;
    color: #fff;

  }
}

@media (max-width: 650px) {

  .principal__img2 {
    height: 50vh;
  }

  .header__img {
    display: none;
  }

}